:

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import re
import random

In [2]:
Books = pd.read_csv("Books.csv", low_memory=False)
Ratings_no_zero = pd.read_csv("Filtered_Ratings_NoZero.csv", low_memory=False)
users = pd.read_csv("Users.csv", low_memory=False)

In [3]:
# Books와 Ratings_no_zero 를 ISBN을 기준으로 merge
Books_Ratings=Books.merge(Ratings_no_zero,on="ISBN")
Books_Ratings.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,67544,8
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,116866,9
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,123629,9

In [5]:
# merge한 걸 dataframe으로 만듦
Books_Ratings_df=Books_Ratings.copy()

# NaN 포함된 모든 행 제거(inplace = True : 새로운 df 반환하지 않고 Books_Ratings_df 여기서 제거 진행)
Books_Ratings_df.dropna(inplace=True)

# 누락된 값 있는 행 제거하고 index 재설정
Books_Ratings_df.reset_index(drop=True,inplace=True)

# 필요없는 column들 drop
Books_Ratings_df.drop(columns=["ISBN","Year-Of-Publication","Image-URL-S","Image-URL-M", "Publisher", "Image-URL-L"],axis=1,inplace=True)

Books_Ratings_df.head(100)

       Book-Title           Book-Author  User-ID  Book-Rating
0    Clara Callan  Richard Bruce Wright        8            5
1    Clara Callan  Richard Bruce Wright    11676            8
2    Clara Callan  Richard Bruce Wright    67544            8
3    Clara Callan  Richard Bruce Wright   116866            9
4    Clara Callan  Richard Bruce Wright   123629            9
..            ...                   ...      ...          ...
95  The Testament          John Grisham    85534            7
96  The Testament          John Grisham    86969            8
97  The Testament          John Grisham    88006            4
98  The Testament          John Grisham    93055            7
99  The Testament          John Grisham    93643           10

[100 rows x 4 columns]

In [9]:
# 책을 200번 이상 평점을 매긴 유저만 남기겠다 -> users_200_df
users_200_df=Books_Ratings_df[Books_Ratings_df['User-ID'].map(Books_Ratings_df['User-ID'].value_counts()) >= 200]
users_pv=users_200_df.pivot_table(index=["User-ID"],columns=["Book-Title"],values="Book-Rating")
users_pv.fillna(0,inplace=True)

In [10]:
# 유저id의 최고 평점 책 5권 리턴
def best_5_books(id):
    
    best5=users_200_df[users_200_df["User-ID"]==id].sort_values(["Book-Rating"],ascending=False)[0:5]
    return best5

In [11]:
best_5_books(269566)["Book-Title"]

277587                               King Lear (3rd Series)
277813                                        Sydney's Star
278367    Cyndy Szekeres' Teeny Mouse Counts Herself (Go...
53899     The Tragedy of Hamlet Prince of Denmark (Signe...
278088    Little Bear Counts His Favorite Things (Golden...
Name: Book-Title, dtype: object

In [12]:
# cosine similarity 활용해 가장 유사한 유저 5명 찾아 user id 리턴
def most_similar_5users(users_200_df, id):
    if id in users_200_df["User-ID"].values:
        idx=np.where(users_pv.index == id)[0][0]
        
        # cosine similarity 계산
        similarity=cosine_similarity(users_pv)
        
        similar_users=list(enumerate(similarity[idx]))
        
        # Cosine Similarity를 기준으로 내림차순 정렬, 0번째 id는 제외(자기 자신임)
        similar_users = sorted(similar_users,key = lambda x:x[1],reverse=True)[1:6]
        
        most_sim_users=[]

        for i in similar_users:
                all_ids=Books_Ratings_df[Books_Ratings_df["User-ID"]==users_pv.index[i[0]]]
                most_sim_users.extend(list(all_ids.drop_duplicates("User-ID")["User-ID"].values))
        
    else:
        print("---일치하는 유저 없습니다---")
                
        
        
    return most_sim_users

In [14]:
my_id = random.choice(users_200_df["User-ID"].values)
most_sim_users = most_similar_5users(users_200_df,my_id)
print("ME:", my_id)
print("FIVE SIMILAR USERS ID:", most_sim_users)

ME: 98391
FIVE SIMILAR USERS ID: [235105, 265889, 216012, 258185, 11676]

In [15]:
# 함수 설명
    # user : 나와 가장 유사한 유저 5명 목록
    # user_id : "나" (추천받을 대상)
    # 과정 : 유사한 유저들의 
    # return : 
def recommend_5_books(users_200_df, user, user_id):
    me=users_200_df[users_200_df["User-ID"]==user_id]
    recom_5_books=[]
    user=list(user)

    for i in user:
        sim_users=users_200_df[(users_200_df["User-ID"]==i)]

        # user_id가 읽지 않은 책을 찾아 books에 저장
        books=sim_users.loc[~sim_users["Book-Title"].isin(me["Book-Title"]),:]

        # rating으로 내림차순 정렬 후 상위 5권 return
        books=books.sort_values(["Book-Rating"],ascending=False)[0:5]
        recom_5_books.extend(books["Book-Title"].values)
        
    return recom_5_books[0:5]

In [16]:
# Recommendation 시작!!

# 실행할 때마다 다른 userid로 test하기 위해 random으로 userid 세팅
my_id = random.choice(users_200_df["User-ID"].values)
my_best_5_books_df = pd.DataFrame(best_5_books(my_id))
my_best_5_books = best_5_books(my_id)

print("*** ME: {} ***".format(my_id))
print("=======================================================================================")
print()

# 내가 가장 좋아하는 책 5권의 "평균" 평점 
my_best_books = []
for i in range(5):
    title = my_best_5_books_df["Book-Title"].tolist()[i]
    # 각 책의 평균 평점 계산 (소수 둘째 자리까지 반올림)
    rating = round(users_200_df[users_200_df["Book-Title"] == title]["Book-Rating"].mean(), 2)
    my_best_books.append((title, rating))

# 비슷한 유저 찾아서 나만 안읽은 책 중 평균 평점 높은 순서로 5권
sim_users = most_similar_5users(users_200_df, my_id)
recom_books = recommend_5_books(users_200_df, sim_users, my_id)
recommended_books = []

for i in range(5):
    title = recom_books[i]
    rating = round(users_200_df[users_200_df["Book-Title"] == title]["Book-Rating"].mean(), 2)
    recommended_books.append((title, rating))

    
# 출력
print("*** 내가 가장 좋아하는 책 5권의 평균 평점 ***")
print()
for book, rating in my_best_books:
    print(f"* 책 이름 * {book}, * 평점 * {rating}")
print("=======================================================================================")
print()

print("*** 추천할 책들 ***")
print()
for book, rating in recommended_books:
    print(f"* 책 이름 * {book}, * 평점 * {rating}")   
print("=======================================================================================")
print()

print("*** 너와 유사한 취향을 가진 유저 5명과 각 유저의 책 5권씩 소개해줄게 ***")
print()
for id in sim_users:
    print("User_ID:", id)
    
    for book in best_5_books(id)["Book-Title"]:
        print("-",book)
    print("--------------------------------------------------------------------------------")

*** ME: 23902 ***
=======================================================================================

*** 내가 가장 좋아하는 책 5권의 평균 평점 ***

* 책 이름 * Last Train to Memphis : The Rise of Elvis Presley, * 평점 * 10.0
* 책 이름 * The Best of Oscar Wilde: Selected Plays and Writings, * 평점 * 10.0
* 책 이름 * Brideshead Revisited, * 평점 * 10.0
* 책 이름 * Doctor Zhivago, * 평점 * 10.0
* 책 이름 * Complete Works of William Shakespeare, * 평점 * 10.0
=======================================================================================

*** 추천할 책들 ***

* 책 이름 * Five on Kirrin Island Again (Famous Five), * 평점 * 10.0
* 책 이름 * LA Casa Pintada/the Painted House (Barco De Vapor, 127), * 평점 * 10.0
* 책 이름 * I, Lucifer: Finally, the Other Side of the Story, * 평점 * 10.0
* 책 이름 * Cats Up Close (Tiny Folios (Hardcover)), * 평점 * 10.0
* 책 이름 * Franklin's Neighborhood (Franklin), * 평점 * 10.0
=======================================================================================

*** 너와 유사한 취향을 가진 유저 5명과 각 유저의 책 5권씩 소개해줄게 ***

User_ID: 11676
- The Heirloom
- Puppy Love: True Stories of Animal Friends
- Veronika dÃ?Â©cide de mourir
- Esperanza Rising
- Chasing the dragon (Hodder Christian paperbacks)
--------------------------------------------------------------------------------
User_ID: 110934
- To Kill a Mockingbird
- Les Miserables a New Unabridged Translation (Signet Classics)
- The Twenty-One Balloons
- The Brothers K
- The Agony and the Ecstasy: A Biographical Novel of Michelangelo
--------------------------------------------------------------------------------
User_ID: 105517
- The Indispensable Calvin And Hobbes
- Breathing Lessons
- Origin of Species
- Alexei Sayle's Great Bus Journeys of the World (Methuen Humour)
- Walden and Other Writings
--------------------------------------------------------------------------------
User_ID: 177432
- The Bhagavad-Gita : Krishna's Counsel in Time of War
- Emma
- The Return of the King (The Lord of the Rings, Part 3)
- A Brief History of Time: From the Big Bang to the Black Holes
- The Epic of Gilgamesh: An English Version With an Introduction (Penguin Classics)
--------------------------------------------------------------------------------
User_ID: 6575
- Far Side Gallery 3 Paperback
- European Detours: A Travel Guide to Unusual Sights
- The Time Traveler's Wife (Harvest Book)
- Tragedy of Romeo and Juliet (Signet Classics)
- The Chosen
--------------------------------------------------------------------------------